node_modules
.DS_Store


# sanity
*.pickle
credentials.json
token.json
.env


# dev tools
.vscode/*


# dynamic stuff
build
source/_fetchdir/*
source/_styles/*

assets/img/dynamic/*
assets/xml/*

source/global.et.yaml
source/global.en.yaml
source/global.ru.yaml

eventival/dynamic/*
