extends /_templates/layout.pug
include /_templates/mixins.pug


block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                br
                br
                br
                br
                br
                h1.display-4.m-b-2 Palun täida kasutaja ankeet:

                div.form
                    div.form-group(name= "userForm" onsubmit="return sendUserProfile()")
                        label(for='profileImg') Profiili pilt (kohustuslik passiostjale):
                        input#profileImg.form-control(type='file', value='fileupload' name='profileImg')
                    div.form-group
                        label(for='firstName') Eesnimi:
                        input#firstName.form-control(type='text', placeholder='Eesnimi' name='firstName' required=true)
                    div.form-group
                        label(for='lastName') Perekonnanimi:
                        input#lastName.form-control(type='text', placeholder='Perenimi' name='lastName' required=true)

                    div.form-group
                        label(for='gender') Sugu:
                        hr
                        select#gender(name='gender', placeholder='gender')
                            option(value='male') Mees
                            option(value='female') Naine
                            option(value='other') Muu

                        //- input(type='radio', name='gender' value="male")
                        //- label(for='male') Mees:
                        //- br
                        //- input(type='radio', name='gender' value="female")
                        //- label(for='female') Naine:
                        //- br
                        //- input(type='radio', name='gender' value="other")
                        //- label(for='other') Muu:
                        //- br

                    div.form-group
                        .datePicker
                            label(for='dob') Sünnikuupäev:
                                hr
                                span
                                label(for='day') Päev:
                                input#day.form-control(type='day', placeholder='day', name='day')
                                //- select#day(name='day', type='day')
                                span
                                label(for='month') Kuu:
                                select#month(name='month', type='month')
                                    option(selected='') January
                                    option February
                                    option March
                                    option April
                                    option May
                                    option June
                                    option July
                                    option August
                                    option September
                                    option October
                                    option November
                                    option December
                                span
                                label(for='year') Aasta:
                                select#year(name='year', type='year')

                        //- label(for='dob') Sünnikuupäev:
                        //- input#dob.form-control(type='date', placeholder='Sünnikuupäev' name='dob')
                    div.form-group
                        label(for='phoneNr') Telefoni number:
                        input#phoneNr.form-control(type='tel', placeholder='Telefoni number' name='phoneNr')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Email' name='email' oninput="validateEmail()")
                    div.form-group
                        label(for='country') Elukoha riik:
                        input#country.form-control(type='text', placeholder='Elukoha riik' name='country')
                    div.form-group
                        label(for='city') Elukoha linn:
                        input#city.form-control(type='text', placeholder='Elukoha linn' name='city')
                    button.btn.btn-primary(onclick='validateForm(), sendUserProfile()') Salvesta

    style.
        .invalid {color: #ee1b2e}
        h4 {color: #464646}
        label {color: black}

    script
        include userprofile.js


        var yearSelect = document.querySelector('#year')
        var monthSelect = document.querySelector('#month')
        var daySelect = document.querySelector('#day')

        yearSelect= 'tere'
