
mixin chat(ROOM_NAME, IS_MODERATED_ROOM=false)
    -
        function slugify(text)
        {
            return text.toString().toLowerCase()
                .replace(/\s+/g, '-')           // Replace spaces with -
                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                .replace(/^-+/, '')             // Trim - from start of text
                .replace(/-+$/, '');            // Trim - from end of text
        }
        var room_suffix = IS_MODERATED_ROOM ? '-moderated' : '-plain'
        ROOM_NAME = slugify(ROOM_NAME)

    div(id='chat-container-' + ROOM_NAME + room_suffix class='chat-container moderated-' + IS_MODERATED_ROOM)
        div(id='chat-message-template-' + ROOM_NAME + room_suffix class='chat-message' style='display:none')
        div(id='chat-main-' + ROOM_NAME + room_suffix class='chat-main')
            div(id='chat-messages-'+ ROOM_NAME + room_suffix class='chat-messages' class='dark_1')

        div(id='chat-form-container-'+ ROOM_NAME + room_suffix class='chat-form-container')

    style.
        .chat-container.moderated-false {
            //- padding: 0px;
            //- background: #ffffff;
            //- border: blue solid 5px;
        }
        .chat-container.moderated-true {
            padding: 0px;
            background: #ffffff;
            //- border: red solid 5px;
        }
        .poff-chat-message-meta {
            padding: 0 1em;
        }
        .poff-chat-button {
            border-radius: 3%;
        }

    script.
        document.addEventListener('userProfileLoaded', function (e) {
            function slugify(text)
            {
                return text.toString().toLowerCase()
                    .replace(/\s+/g, '-')           // Replace spaces with -
                    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                    .replace(/^-+/, '')             // Trim - from start of text
                    .replace(/-+$/, '');            // Trim - from end of text
            }
            const IS_MODERATED_ROOM = '#{IS_MODERATED_ROOM}'
            const ROOM_NAME = '#{ROOM_NAME}'
            let room_suffix = IS_MODERATED_ROOM ? '-moderated' : '-plain'

            console.log({RN: '#{ROOM_NAME}', ROOM_NAME})

            poff_o_matic.initSocket(userProfile.sub, '#{ROOM_NAME}')

            let i_am_moderator = false

            if (!IS_MODERATED_ROOM) {
                const chatMessageInputElement = document.createElement('input')
                chatMessageInputElement.id = 'chat-message-input-' + ROOM_NAME + room_suffix
                chatMessageInputElement.classList.add('chat-message-input')
                chatMessageInputElement.setAttribute('type', 'text')
                chatMessageInputElement.setAttribute('placeholder', 'Enter message')
                chatMessageInputElement.setAttribute('required', '')
                chatMessageInputElement.setAttribute('autocomplete', 'off')
                const chatFormElement = document.createElement('form')
                chatFormElement.id = 'chat-form-' + ROOM_NAME + room_suffix
                chatFormElement.appendChild(chatMessageInputElement)
                const chatFormContainer = document.getElementById('chat-form-container-' + ROOM_NAME + room_suffix)
                chatFormContainer.appendChild(chatFormElement)
            }

            const chatMessagesElement = document.getElementById('chat-messages-' + ROOM_NAME + room_suffix)
            const messageInputElement = document.getElementById('chat-message-input-' + ROOM_NAME + room_suffix)
            const messageTemplateElement = document.getElementById('chat-message-template-' + ROOM_NAME + room_suffix)

            poff_o_matic.send('joinRoom', { is_moderated: IS_MODERATED_ROOM })
            poff_o_matic.subscribe('YOU ARE MODERATOR', (message) => {
                i_am_moderator = true
            })

            poff_o_matic.subscribe('messageToClient', (message) => {
                if (IS_MODERATED_ROOM) {
                    if (message.is_moderated) {
                    let moderatedMessageElement = document.getElementById('moderated-' + message.id)
                        if(moderatedMessageElement) {
                            console.log('Allready displaying moderated message', message, 'in', ROOM_NAME, moderatedMessageElement)
                        } else {
                            outputMessage(message)
                        }
                    }
                } else {
                    let plainMessageElement = document.getElementById('plain-' + message.id)
                    if (plainMessageElement) {
                        plainMessageElement.is_moderated = message.is_moderated
                        plainMessageElement.style.is_moderated = message.is_moderated
                    } else {
                        outputMessage(message)
                    }
                }
                chatMessagesElement.scrollTop = chatMessagesElement.scrollHeight;
            })

            let latestMessage
            if (!IS_MODERATED_ROOM) {
                // Message submit
                chatFormElement.addEventListener('submit', e => {
                    e.preventDefault()

                    // Get message text
                    let latestMessage = messageInputElement.value.trim()
                    if (!latestMessage) {
                        return false
                    }
                    // Emit message to server
                    console.log('Send message', latestMessage)
                    socket.emit('messageToServer', {
                        user_id: userProfile.sub,
                        ROOM_NAME: ROOM_NAME,
                        message: latestMessage
                    })

                    // Clear input
                    messageInputElement.value = ''
                    messageInputElement.focus()
                })
            }


            // Output message to DOM
            function outputMessage(message) {

                var messageElement = messageTemplateElement.cloneNode(true)
                messageElement.id = (IS_MODERATED_ROOM ? 'moderated-' : 'plain-') + message.id
                messageElement.style.is_moderated = message.is_moderated
                messageElement.is_moderated = message.is_moderated
                messageElement.style.display = 'block'

                const messageTimeElement = document.createElement('span')
                messageTimeElement.innerText = message.time
                messageTimeElement.classList.add('poff-chat-message-meta', 'poff-chat-message-time');

                const messageAuthorElement = document.createElement('span')
                messageAuthorElement.innerText = message.user_name
                messageAuthorElement.classList.add('poff-chat-message-meta', 'poff-chat-message-author');

                const messageTextElement = document.createElement('span')
                messageTextElement.innerText = message.text
                messageTextElement.classList.add('poff-chat-message-meta', 'poff-chat-message-text');

                const messageMetaElement = document.createElement('div')
                messageMetaElement.appendChild(messageTimeElement)
                messageMetaElement.appendChild(messageAuthorElement)
                messageMetaElement.appendChild(messageTextElement)

                chatMessagesElement.appendChild(messageElement)
                messageElement.appendChild(messageMetaElement)

                if(!message.is_moderated && !IS_MODERATED_ROOM && i_am_moderator) {
                    const moderateButtonElement = document.createElement('button')
                    //- moderateButtonElement.classList.add('poff-chat-button', 'poff-chat-button-moderate')
                    moderateButtonElement.classList.add('poff-chat-button1', 'btn', 'btn_moderate')
                    moderateButtonElement.innerText = 'M'
                    moderateButtonElement.onclick = function() {moderateMessage(message.id); this.remove()}
                    messageMetaElement.appendChild(moderateButtonElement)
                }
            }

            function moderateMessage(id){
                console.log('moderate message', id)
                socket.emit('moderate', id)
            }

            //REJOIN
            socket.on('Rejoin, please', () => {
                socket.emit('joinRoom', {
                    user_id: userProfile.sub,
                    user_name: userProfile.name,
                    ROOM_NAME: ROOM_NAME,
                    is_moderated: is_moderated,
                    userProfile: userProfile
                })

                socket.emit('messageToServer', {
                    user_id: userProfile.sub,
                    ROOM_NAME: ROOM_NAME,
                    message: latestMessage
                })
            })
        })
