script(src="https://browser.sentry-cdn.com/5.27.1/bundle.tracing.min.js" integrity="sha384-nPH7Rousi6RcXhNup3OOExWEQshIYKy4aDAA2SBkfXG2ipYQSX+y6KxFZUVOKxqG" crossorigin="anonymous")
script(type="text/javascript").
    //- import * as Sentry from "@sentry/browser";
    //- import { Integrations } from "@sentry/tracing";

script(src='https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js')
