doctype html
html(lang='en')

    include ../_templates/head.pug

    body
        // HEADER

        include ../_templates/header.pug

        // Sisu

        block content
        p= 'BLA' + process.env['DOMAIN']
        include ../_templates/footer.pug
