doctype html
html(lang='en')

    include ../_templates/head.pug

    body
        // HEADER

        include ../_templates/header.pug

        // Sisu

        block content

        include ../_templates/footer.pug
