extends /_templates/layout.pug
include /_templates/mixins.pug



block content

    main.grid_film

        if self.festival_edition && self.festival_edition.name
            br
            br
            br
            br
            h1.dark_1= self.festival_edition.name
            br
        if self.name && typeof self.name !== 'object'
            h1.dark_1= self.name
            br
        if self.description && typeof self.description !== 'object'
            h1.dark_1= self.description
            br
            br
            br
            br
            br
            br
            button.btn.btn-primary(onclick=`GetPaymentLinks()`) mine maksma
            div#paymentLinks
            br
            button.btn.btn-primary(onclick=`Buy("${self.codePrefix}")`) OSTA valitud makseviisiga
            br





