extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                br
                br
                br
                br
                br
                br
                h1.display-4.m-b-2 Registreerimiseks täida ankeet:

                div.form
                    img#imgPreview(height="150px", alt="user profile pic", src="/assets/img/static/Hunt_Kriimsilm_2708d753de.jpg")
                    div.form-group(name= "userForm" onsubmit="return sendUserProfile()")
                        | Profiili pilt (kohustuslik passiostjale):
                        div#imgError
                        label.btn.btn-primary(for='profileImg') Vali pilt
                        input#profileImg.form-control(type='file', value='fileUpload' name='profileImg' style='visibility:hidden')
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Email' name='email' oninput="validateEmail()")
                    div.form-group
                        label(for='psw') Salasõna:
                        input#psw.form-control(type='password', placeholder='salasõna' name='psw' )
                    div.form-group
                        label(for='psw2') Salasõna uuesti:
                        input#psw2.form-control(type='password', placeholder='salasõna uuesti' name='psw2' oninput="validatePsw()")
                    div.form-group
                        label(for='firstName') Eesnimi:
                        input#firstName.form-control(type='text', placeholder='Eesnimi' name='firstName' required='')
                    div.form-group
                        label(for='lastName') Perekonnanimi:
                        input#lastName.form-control(type='text', placeholder='Perenimi' name='lastName' required='')

                    div.form-group
                        label(for='gender') Sugu:
                        select#gender(name='gender')
                            option(value='male') Mees
                            option(value='female') Naine
                            option(value='other') Muu
                            option(value="" selected="") vali
                    div.form-group
                        label(for='dob') Sünnikuupäev:
                        input#dob.form-control(type='date', placeholder='Sünnikuupäev' name='dob', required='', max="2007-01-01", min="1905-01-01", oninput="validateBDay()")
                    div.form-group
                        label(for='phoneNr') Telefoni number:
                        input#phoneNr.form-control(type='tel', placeholder='Telefoni number' name='phoneNr', required='')
                    div.form-group
                        | Elukoht:
                        br
                        label.control-label(for='country') Riik:
                        select#countrySelection.form-control.gds-cr(country-data-region-id='gds-cr-one' country-data-default-value='EE' data-language=self.locale required='' oninput= 'validateCountry()')
                    div.form-group
                        label.control-label(for='gds-cr-one') Linn:
                        select#gds-cr-one.form-control(required='' oninput= 'validateCity()')
                    button.btn.btn-primary(onclick='validateForm()') Salvesta

    style.
        .invalid {color: #ee1b2e}
        h4 {color: #464646}
        label {color: black}
        #imgError {color: red}
        .form-group{color: black}
        #profileImg{display: none}



