a#flickr-album-template(href="https://www.flickr.com/photos/poffihunt/albums/72157716858783598" style="display:none")
    .trio_block_item.container_frame_16_9
        img.trio_image.container_contents_16_9(
            src="https://live.staticflickr.com/65535/50594314958_6f42e9597e_h.jpg"
            )
        .trio_title_headline_box
            .trio_title_detailed
                span
                    | 12.11.2020 Opening Ceremony

//- #flickr-albums
