a#flickr-album-template.flickr-album-card(href="https://www.flickr.com/photos/poffihunt/albums/72157716858783598")
    img.flickr-album-art(
        src="https://live.staticflickr.com/65535/50594314958_6f42e9597e_h.jpg"
        style="display:none"
        )
    .flickr-album-title 12.11.2020 Opening Ceremony

#flickr-albums
