extends /_templates/layout.pug
include /_templates/mixins.pug
include /_templates/chat_mixin.pug



block content

    section.grid_article
        +chat('puu')
        +chat('puu', true)

    section.grid_article
        +chat('p66sas')
        +chat('p66sas', true)

