extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    if self.data.shops
        each shop in self.data.shops

            section.shop

                //- //- Poe title
                //- if shop.title
                //-     h1.section_headline= shop.title

                //- Poe intro
                //- if shop.intro
                //-     .shop_intro_box
                //-         p.shop_intro= shop.intro

                if shop.prodCatList && shop.prodCatList
                    each prodCatList in shop.prodCatList

                        //- ProdCatList title
                        //- if prodCatList.title
                        //-     h3.sub_section_headline= prodCatList.title



                        if prodCatList.orderedProductCategories
                            each orderedProductCategory in prodCatList.orderedProductCategories.sort(function(a, b){ return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0); })
                                if orderedProductCategory.product_category
                                    - var product = orderedProductCategory.product_category

                                    .card_mypass.dark_1(id= `template_${product.codePrefix}`, style="display: none")
                                        h4.text_center= product.name
                                        div.qrCode
                                            //- (style='width: 30px')
                                        div.passCode kood
                                        div
                                            +euro(product.priceAtPeriod[0].price)
                                        div.fullName nimi
                                        img.profilePic(height="150px")

                                        div= product.description


                        section.shop_items_list(id='my_passes')



                //- if shop.shopRulesygtf
                //-     if typeof shop.shopRules === 'string'
                //-         p
                //-             +format(shop.shopRules)



    //- e pood, pealkiri, intro text, toodete leotelu osa, millel samuti pealkiri ja siis listitud tooted, - seos Product_Category’dega
    //- ja alla veel shopRules text osa, igaks juhuks
