//- extends /_templates/layout.pug
extends /_templates/layout.pug
include /_templates/mixins.pug



//- block content

//-     - var articlePics = self.data.article_pictures.articles
//-     - var splitSelfPath = self.path.split("/")[self.path.split("/").length-1]
//-     - var articlePic = articlePics[splitSelfPath]

//-     +tabname self.articleTitle

//-     section.grid_article
//-         section.article_hero_head
//-             if articlePic
//-                 img(src=`/assets/img/img_articles/${splitSelfPath}/${articlePic.heroImage}`).article_hero_image
//-             else
//-                 img(src='/assets/img/global/placeholder_hd_1.jpg').article_hero_image
//-         if self.articleTitle
//-             .article_hero_headline_box
//-                 .article_title_detailed= self.articleTitle

//-     section.grid_article
//-         section.article_meta
//-             .str_info_meta_gi
//-                 if self.articleType
//-                     .str_info_meta_item
//-                         .str_info_meta_value= self.label.menu.mainNews
//-                 if self.articleAuthor
//-                     .str_info_meta_item
//-                         .str_info_meta_value= self.articleAuthor
//-                 if self.articlePublishStart
//-                     .str_info_meta_item
//-                         //- .str_info_meta_value= self.kuupäev + '  ' + self.kell
//-                         .str_info_meta_value
//-                             +localdatetime(self.articlePublishStart)
//-                 if self.tagKeyword
//-                     .str_info_meta_item
//-                         .str_info_meta_keywords= self.tagKeyword


//-         section.article_contents
//-             if self.articleLead
//-                 p.font_weight_600= self.articleLead
//-             //- p= self.articleContents_et
//-             if self.articleContents
//-                 +format(self.articleContents)


//-         section.article_extra
