extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    br
    br
    br
    br
    br
    h4#number Log in here:
    label(for='loginUsername') Username:
    input#loginUsername(type='text')
    br
    label(for='loginPassword') Password:
    input#loginPassword(type='password')
    br
    br
    //- button(onclick='doLogin2()') Log in


    //-     //- const queryString = window.location.search;
    //-     //- console.log(queryString);
    //-     //- const urlParams = new URLSearchParams(queryString);
    //-     //- const token = urlParams.get('access_token')
    //-     //- console.log(token);


    a(href='https://tests.auth.us-east-2.amazoncognito.com/login?client_id=67tu3fmm9v7ho8mnsltcd6h5p3&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=https://dev.inscaping.eu/login/') Log in
    br
    br
    br
    button(onclick='loadCognitoUser()') Show cognito user
    a(href='https://tests.auth.us-east-2.amazoncognito.com/logout?client_id=67tu3fmm9v7ho8mnsltcd6h5p3&logout_uri=https://dev.inscaping.eu/login/' onclick='logout()') Log out
    br
    button(onclick="sayHello()") Say Hello
    br
    br
    br
    br
    br
    h1#hello

    script.
        var url = window.location;
        const ACCESS_TOKEN = "ACCESS_TOKEN";
        const REFRESH_TOKEN = "REFRESH_TOKEN";
        const ID_TOKEN = "ID_TOKEN";

        var code = new URLSearchParams(url.search).get('code')
        console.log(code);
        if (code) {
            //- getReplyFromAWS(code);
            loginWithCode(code)
            console.log('Code sent: ' + code);
        } else {
            console.log('Not sent ')
        }

        //- async function getReplyFromAWS(code) {
        //-     let response = await fetch(`https://9t1wskosmj.execute-api.eu-central-1.amazonaws.com/default/POFF-Validate`, {
        //-         method: 'POST',
        //-         //- headers: {Authorization: 'Bearer ' + accessToken}
        //-         body: code
        //-     });
        //-     return await response.json();
        //-     //- return processJsonResponse(response);
        //- }

        async function loginWithCode(code) {

            var myHeaders = new Headers();

            myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
            myHeaders.append("Authorization", "Basic Njd0dTNmbW05djdobzhtbnNsdGNkNmg1cDM6MTZ1cDVlYW5mMzVqczVvcXNnM2ticmtuaGI5ZmkxbzJxMjcxNmkzNG9vcnVsa29pbnUybg==");
            myHeaders.append("Cookie", "XSRF-TOKEN=e7ac0bb5-d5b1-4e39-8692-2fb0600fbb64");

            var urlencoded = new URLSearchParams();
            urlencoded.append("grant_type", "authorization_code");
            urlencoded.append("redirect_uri", "https://dev.inscaping.eu/login/");
            urlencoded.append("code", code);

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
            };

            await fetch("https://tests.auth.us-east-2.amazoncognito.com/oauth2/token", requestOptions)
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    const JSONresult = JSON.parse(result);
                    console.log(JSONresult.access_token);
                    if (JSONresult.access_token && JSONresult.refresh_token) {
                        storeAuthentication(JSONresult);
                    }
                })
                .catch(error => console.log('error', error));

            function storeAuthentication(JSONresult) {
                localStorage.setItem(ACCESS_TOKEN, JSONresult.access_token);
                localStorage.setItem(REFRESH_TOKEN, JSONresult.refresh_token);
                localStorage.setItem(ID_TOKEN, JSONresult.id_token);
                //- localStorage.setItem(ID_TOKEN, JSONresult.id_token);
                //- localStorage.setItem(AUTH_USERNAME, JSONresult.username);
            }
            //- return await response.json();
        }

            function logout(){
            localStorage.removeItem(ACCESS_TOKEN);
            localStorage.removeItem(REFRESH_TOKEN);
            localStorage.removeItem(ID_TOKEN);
            }



            async function loadCognitoUser(){
                console.log('Hello');
                var myHeaders = new Headers();

                myHeaders.append('Authorization', `Bearer ${localStorage.getItem(ACCESS_TOKEN)}`);

                var requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };

                console.log(requestOptions.headers);

            await fetch("https://tests.auth.us-east-2.amazoncognito.com/oauth2/userInfo", requestOptions)
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    const JSONresult = JSON.parse(result);
                    console.log(JSONresult.name);
                    hello.innerHTML = 'Hello! ' + JSONresult.name;
                })
                .catch(error => console.log('error', error));
            }















