extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    a(name='vialog-SMOhpH7u' style='display: grid; padding-top: 155px;')
        iframe(width='100%' height='540' src='https://my.vialog.app/SMOhpH7u' frameborder='0' allow='microphone; camera')

